[Unit]
Description=Discord connectivity service
After=network.target

[Service]
Type=simple
Restart=always
User=opasnostya
WorkingDirectory=<abspath>/discord_daemon
ExecStart=<abspath>/discord_daemon/daemon -t <token> -c <channelname> -i localhost -p <port> -P <password>

[Install]
WantedBy=multi-user.target
